{{define "AppsHome" }}
<html>
  <head>
    <script src="//unpkg.com/alpinejs" defer></script>
    {{template "CommonStyles" .}}
    <style>
      .modal {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 100dvh;
        width: 100dvw;
        background: rgba(0, 0, 0, 0.12);
      }
      .modal-container {
        top: 50%;
        left: 50%;
        height: auto;
        max-height: 100dvh;
        overflow: auto;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    </style>
  </head>
  <body class="container-fluid">
    {{template "AppNav" .}}

    <div>
      <h3>Apps</h3>
    </div>

    <div class="flex justify-end">
      <a role="button" href="/apps/new">Add New </a>
    </div>

    <div class="flex flex-wrap items-start justify-start">
      {{ range .Apps }}
      <article class="ml2 mb2 fit" x-data="{showDeleteModal:false}">
        <p>{{.Name}}</p>
        <div class="flex ml-auto">
          <a role="button" href="/apps/{{.ID}}">View</a>
          <div class="ml2">
            <button class="outline secondary" x-on:click="showDeleteModal=true">
              Delete
            </button>
            <template x-if="showDeleteModal">
              <div class="modal">
                <div class="modal-container">
                  <div class="modal-body">
                    <form method="post" action="/apps/{{.ID}}/delete">
                      <article>
                        <div>
                          <p>
                            Are you sure you wish to delete
                            <strong>{{.Name}}</strong>?
                          </p>
                        </div>
                        <footer>
                          <div class="flex items-center">
                            <input type="submit" value="Delete" class="mr1" />
                            <input
                              type="button"
                              class="secondary"
                              x-on:click="showDeleteModal=false"
                              value="Close"
                            />
                          </div>
                        </footer>
                      </article>
                    </form>
                  </div>
                </div>
              </div>
            </template>
          </div>
        </div>
      </article>

      {{end}}
    </div>
  </body>
</html>
{{end}}
