{{define "AppsDetails" }}
<html>
  <head>
    {{template "CommonStyles" .}}
  </head>
  <body class="container-fluid">
    {{template "AppNav" .}}

    <article>
      <header>{{.App.Name}}</header>
      <div>
        <p><strong>Type</strong>: {{.App.Type.String}}</p>
        <p><strong>Exposed Port</strong>: {{.Ports.Port}}</p>
      </div>
      <form method="post" action="/apps/{{.App.ID}}/domain">
        <fieldset>
          <label>Domain:</label>
          <div role="group">
            <input
              type="text"
              name="domain"
              value="{{.PrimaryDomain.Domain}}"
              required
            />
            <button type="submit">Update</button>
          </div>
        </fieldset>
      </form>
      <footer>
        <div class="flex justify-end items-center">
          <button type="button" class="fit mr2" id="sync-button">Sync</button>
        </div>
      </footer>
    </article>

    <script>
      const button = document.querySelector("#sync-button");
      const id = "{{.App.ID}}";

      button.addEventListener("click", () => {
        attemptSync();
      });

      async function attemptSync() {
        button.setAttribute("disabled", true);
        button.setAttribute("ariaLoading", true);
        try {
          const res = await fetch(`/apps/${id}/sync`, {
            method: "post",
            headers: {
              "content-type": "application/json",
            },
            body: JSON.stringify({}),
          });

          if (!res.ok) {
            console.log(`error: ${await res.text()}`);
            return alert("failed to sync due to some error");
          }

          return alert((await res.json()).message);
        } finally {
          button.removeAttribute("disabled");
          button.removeAttribute("ariaLoading");
        }
      }
    </script>
  </body>
</html>
{{end}}
